{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
<main>
    <section>
        <h1>Загрузка и обработка изображений</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Upload</button>
        </form>

        {% if image %}
        <h2>Загруженное изображение</h2>
        <div class="image-container">
            <div class="image-item">
                <img src="{{ image.img.url }}" alt="Uploaded Image" class="max-sized-image">
            </div>
            <div class="image-item">
                <img src="{{ image_model.img_model.url }}" alt="Обработанное изображение" class="max-sized-image">
            </div>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}
