{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт обработки изображений</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="login.html">Войти</a></li>
            <li><a href="profile.html">Личный кабинет</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h1>Загрузка и обработка изображений</h1>
<!--        <h1>Upload Image</h1>-->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Upload</button>
        </form>

        {% if image %}
        <h2>Загруженное изображение</h2>
        <div class="image-container">
            <div class="image-item">
                <img src="{{ image.img.url }}" alt="Uploaded Image" class="max-sized-image">
            </div>
            <div class="image-item">
                <img src="{{ image_model.img_model.url }}" alt="Обработанное изображение" class="max-sized-image">
            </div>
        </div>
        {% endif %}
    </section>
</main>
<footer>
    <p>&copy; 2024 Сайт обработки изображений</p>
</footer>

</body>

</html>